@charset "UTF-8";

/* すべてのページに適応 */
html {
  font-family: fantasy
}

/* bodyタグ */
body {
  background-size: cover;
  margin: 0 0 0 0;		/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: black;
  position: relative;
  overflow-x: hidden;
  text-align: center;
}
.inner {
	justify-content: space-between;
	display: flex;
	position: relative;
}

.inner * {
    height: 100px;              /* 高さ指定 */
}

.inner span{
	padding: 10px;              /* 余白指定 */
}

span img{
	filter: invert(1);
	vertical-align: middle;
}

.menu_2{
	z-index:1;
}

.menu img {
	/* width: 100%;*/
	filter: invert(1);
	position: absolute;
	top: 0;
	right: 0;
}
	.menu_open {
		opacity: 1;
	}

		.menu_open.active {
			opacity: 0;
		}

	.menu_close {
		opacity: 0;
	}

		.menu_close.active {
			opacity: 1;
		}

.menu_list {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	transform: translate(100%, 0);
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	color: white;
	text-align: center;
	transition: .5s;
}

.menu_list.active {
	transform: translate(0, 0);
	}

.menu_list ul {
	padding-inline: 0;
}
.menu_list li {
	list-style: none;
	margin-top: 1.5rem;
	cursor: pointer;
}