@charset "UTF-8";

/* すべてのページに適応 */
html {
	overflow-x: hidden;
	font-family: fantasy;
}

/* bodyタグ */
body {
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	margin: 0 0 0 0; /* マージンなし（後で個別に設定） */
	padding: 0 0 0 0; /* パディングなし（後で個別に設定） */
	color: rgb(255, 255, 255);
	background-color: #aca2ff;
	background-image : linear-gradient( 0deg, #aca2ff 0%, #3d3bff 47%, #060032 100%);
	background-repeat : no-repeat;
	font-size: 3vw;
	position: relative;
	text-align: center;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}

.inner {
	position: relative;
}

.content * {
	height: 100px; /* 高さ指定 */
}

.inner span {
	padding: 10px; /* 余白指定 */
}

#home{
	position: absolute;
	top: 0;
	left: 0;
}

#logo{
	position: absolute;
	top: 0;
	left: 50vw;
	transform: translate(-50%, 0%);
}

span img {
	filter: invert(1);
	padding-top: 5px;
}

.menu_2 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

.menu img {
	/* width: 100%;*/
	filter: invert(1);
	position: absolute;
	top: 0;
	right: 0;
}

.menu_open {
	opacity: 1;
}

.menu_open.active {
	opacity: 0;
}

.menu_close {
	opacity: 0;
}

.menu_close.active {
	opacity: 1;
}

.menu_list {
	background-color: black;
	position: absolute;
	transform: translate(100%, 0);
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	color: white;
	text-align: center;
	transition: .5s;
	z-index: 99;
}

.menu_list.active {
	transform: translate(0, 0);
}

.menu_list ul {
	padding-inline: 0;
}

.menu_list li {
	list-style: none;
	margin-top: 1.5rem;
	cursor: pointer;
}

.humbleicons{
	color: white;
}