@charset "UTF-8";

/* すべてのページに適応 */

main{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}

#alert{
	font-size: min(7vh, 7vw);
}

input[type="button"] {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#search_position:hover,#search_position:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  box-shadow: 0 0 5px #008cff,
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}

#search_position_button{
	margin: 50px;
}

#search_position{
	font-size: min(6vh, 6vw);
}

#timer{
	position:relative;
}

#timer_text{
	white-space: nowrap;
	color:black;
	font-size:min(9vh,9vw);
	position:absolute;
	top:65%;
	left:50%;
	transform:translate(-50%, -50%);
}

#timer_img{
	height:70%;
	width:80%;
	z-index:-1;
}

#plan table{
	font-size:min(6vh,6vw);
	text-align:center;
	display:inline-block;
}
