@charset "UTF-8";
/*PWの確認*/
#user_id {
	border: none; /* デフォルトの枠線を消す */
}

#user_login {
	position: relative;
	padding: 20px 0 0;
}

div img {
	filter: invert(1);
	vertical-align: middle;
}
/*ユーザーID*/
.form_group {
	display: flex;
	position: relative;
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	max-width: 180px;
}

#user_id {
	font-family: inherit;
	width: 100%;
	border: none;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 17px;
	color: #fff;
	padding: 0;
	background: transparent;
	transition: border-color 0.2s;
}

#user_id::placeholder {
	color: transparent;
}

#user_id:placeholder-shown ~ .form_label {
	font-size: 17px;
	cursor: text;
	top: 20px;
}

.form_label {
	white-space: nowrap;
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	font-family: 'Noto Sans JP', sans-serif;
	color: #9b9b9b;
	pointer-events: none;
}

#user_id:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #116399, #38caef);
	border-image-slice: 1;
}

#user_id:focus ~ .form_label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #38caef;
	font-weight: 700;
}

/* reset input */
#user_id:required, .form_field:invalid {
	box-shadow: none;
}

#emg {
	white-space: nowrap;
	margin: 50px 0px;
	font-size: 25px;
	color: #ff0000;
}

/* #user_login {
        border-width: thin;
        border-style: solid;
        width: 200px;
      }*/

/*PW*/
#user_pw {
	font-family: inherit;
	border: none;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 17px;
	color: #fff;
	padding: 0;
	background: transparent;
	transition: border-color 0.2s;
}

#user_pw::placeholder {
	color: transparent;
}

#user_pw:placeholder-shown ~ .form_label {
	font-size: 17px;
	cursor: text;
	top: 20px;
}

.form_label {
	white-space: nowrap;
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	font-family: 'Noto Sans JP', sans-serif;
	color: #9b9b9b;
	pointer-events: none;
}

#user_pw:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #116399, #38caef);
	border-image-slice: 1;
}

#user_pw:focus ~ .form_label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #38caef;
	font-weight: 700;
}

/* reset input */
#user_pw:required, .form_field:invalid {
	box-shadow: none;
}

#user_login_area {
	text-align: center;
	display: inline-block;
}

#form_group {
	text-align: center;
	display: inline-block;
}

#register_link {
	position: relative;
	padding: 20px;
}
/*ログインボタン*/
input[type="submit"] {
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff80;
	text-shadow: none;
	background: transparent;
	box-shadow: transparent;
	border: 1px solid #ffffff80;
	transition: 0.5s ease;
	user-select: none;
}

#login:hover {
	color: #ffffff;
	background: #008cff;
	border: 1px solid #008cff;
	box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff
}

.fa{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(110%, -53%);
}